In [17]:
import os
import pandas as pd
# df = pd.read_csv('exp/qwen1-5_05B_EN.csv')

In [20]:
output = []
for fp in os.listdir('exp'):
    if fp in ['report_example.csv','.ipynb_checkpoints']:
        continue
    df = pd.read_csv(f'exp/{fp}')
    lang = fp.split('_')[-1].split('.')[0]
    model = df.model_ckpt.values[0]
    en = df.loc[:3].accuracy.mean()
    ko = df.loc[4:].accuracy.mean()
    output.append([model,lang,en,ko,df.accuracy.mean()])

In [21]:
pd.DataFrame(output)

                               0   1        2        3         4
0              Qwen/Qwen1.5-0.5B  EN  52.0075  50.7000  51.35375
1              Qwen/Qwen1.5-0.5B  KO  49.6650  49.6650  49.66500
2              Qwen/Qwen1.5-1.8B  EN  51.5500  51.1250  51.33750
3              Qwen/Qwen1.5-1.8B  KO  49.4225  48.3600  48.89125
4                Qwen/Qwen1.5-4B  EN  56.9050  51.9475  54.42625
5                Qwen/Qwen1.5-4B  KO  53.3450  48.6625  51.00375
6                Qwen/Qwen1.5-7B  EN  57.6050  55.0800  56.34250
7                Qwen/Qwen1.5-7B  KO  52.5550  49.7275  51.14125
8               Qwen/Qwen1.5-14B  EN  61.3450  60.9200  61.13250
9               Qwen/Qwen1.5-14B  KO  55.4150  54.0150  54.71500
10              Qwen/Qwen1.5-32B  EN  65.2350  66.6075  65.92125
11              Qwen/Qwen1.5-32B  KO  61.2200  59.0025  60.11125
12        EleutherAI/pythia-2.8b  EN  50.9450  50.3950  50.67000
13        EleutherAI/pythia-2.8b  KO  50.0300  51.5200  50.77500
14        EleutherAI/pythia-6.9b  EN  50.6700  50.3325  50.50125
15        EleutherAI/pythia-6.9b  KO  50.3025  50.7300  50.51625
16           bigscience/bloom-3b  EN  50.4850  51.3100  50.89750
17           bigscience/bloom-3b  KO  49.9375  50.3050  50.12125
18          bigscience/bloom-7b1  EN  50.4575  51.2475  50.85250
19          bigscience/bloom-7b1  KO  49.6950  50.9425  50.31875
20   EleutherAI/polyglot-ko-3.8b  EN  48.7225  51.8225  50.27250
21   EleutherAI/polyglot-ko-3.8b   k  50.4875  51.5800  51.03375
22   EleutherAI/polyglot-ko-5.8b  EN  48.6925  51.6125  50.15250
23   EleutherAI/polyglot-ko-5.8b  KO  50.7600  50.6675  50.71375
24                   01-ai/Yi-6B  EN  55.6275  56.5100  56.06875
25                   01-ai/Yi-6B  KO  49.9100  49.0250  49.46750
26                  01-ai/Yi-34B  EN  56.2025  59.6700  57.93625
27                  01-ai/Yi-34B  KO  52.5550  51.6700  52.11250
28  NousResearch/Meta-Llama-3-8B  EN  55.7775  56.6900  56.23375
29  NousResearch/Meta-Llama-3-8B  KO  51.4600  51.0050  51.23250

,timestamp,dataset_name,model_ckpt,sampling_params,prompt,US,KO,accuracy
4,2024-05-18 15:40:34,HAERAE-HUB/QARV-binary-set,Qwen/Qwen1.5-0.5B,"{'temperature': 0.8, 'top_p': 0.95, 'min_token...",Answer as if you are a native Korean.,401,421,51.22
5,2024-05-18 15:40:37,HAERAE-HUB/QARV-binary-set,Qwen/Qwen1.5-0.5B,"{'temperature': 0.8, 'top_p': 0.95, 'min_token...",### Question : Where are you from? ### Answer ...,395,427,51.95
6,2024-05-18 15:40:41,HAERAE-HUB/QARV-binary-set,Qwen/Qwen1.5-0.5B,"{'temperature': 0.8, 'top_p': 0.95, 'min_token...",A brief description of your country of origin ...,409,413,50.24
7,2024-05-18 15:40:44,HAERAE-HUB/QARV-binary-set,Qwen/Qwen1.5-0.5B,"{'temperature': 0.8, 'top_p': 0.95, 'min_token...","You are now South Korean, and Korean is your n...",416,406,49.39